h2 {
	color: #334a5f;
	font-weight: 600;
}
.col {
	float:left;
	width: 50%;
}

.main-container {
	width: 1052px;
	margin: 0 auto;
	background-color: #e7e9ec;
}

.col .inner-container {
	margin: 50px;
	overflow: auto;
}
.card-component {
	margin-bottom: 20px;
}

.fleft {
	float:left;
}

.card-label {
	margin-bottom: 10px;
	margin-right: 17px;
}
.card-label label{
	display: block;
}
label {
	font-weight: 500;
    color: #8c8a8a;
    font-size: smaller;
}

.divider {
	border-bottom: 1px solid #d8d5d5;
	margin-bottom: 20px;
	font-weight: 600;
    color: #d8d5d5;
    font-size: small;
}

.create-hcard input{
	margin-left: 129px;
}

.left-panel {
	background-color: #ffffff;
}
.left-panel form{
	margin-top: 20px;
}
.card-preview {
	margin-top: 100px;
}
.preview-header {
	text-align: right;
	margin-bottom: 10px;
	font-weight: 600;
    color: #b3b0b0;
    font-size: small;
}
.preview-body {
	background-color: #ffffff;
	border-bottom: 1px solid grey;
}
.preview-body  .head {
	height: 60px;
	overflow: hidden;
	background-color: #394f63;
	color: #ffffff;
}
.preview-body  .head  h1 {
	margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: normal;
    font-size: 35px;
}
.preview-body .details{
	margin: 20px;
}
.preview-body .details .addressline2{
	margin-left: 63px;
}
.preview-body .details span{
	margin-left: 8px;
}
.preview-body .details > div {
	margin-bottom: 10px;
	border-bottom: 1px solid #d8d5d5;
}

.clearfix {
	content: "";
	display: block;
	clear: both;
}