<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<section class="main-container clearfix" ng-app="HcardApp">
		<div class="col left-panel" ng-controller = "Ctrl1">
			<div class="inner-container">
				<div>
					<h2>hCard Builder</h2>
				</div>
				<form>
					<div class="card-component clearfix form-group">
						<div class="divider">
							PERSONAL DETAILS
						</div>
						<div class="fleft card-label">
							<label>GIVEN NAME</label>
							<input type="text" class="form-control" ng-model="hcard.personal.name"/>
						</div>
						<div class="fleft card-label">
							<label>SURNAME</label>
							<input type="text" class="form-control" ng-model="hcard.personal.surname"/>
						</div>
						<div class="fleft card-label">
							<label>EMAIL</label>
							<input type="text" class="form-control" ng-model="hcard.personal.email"/>
						</div>
						<div class="fleft card-label">
							<label>PHONE</label>
							<input type="text" class="form-control" ng-model="hcard.personal.phone"/>
						</div>
					</div>
					<div class="card-component clearfix">
						<div class="divider">
							ADDRESS
						</div>
						<div class="fleft card-label">
							<label>HOUSE NAME OR #</label>
							<input type="text" class="form-control" ng-model="hcard.address.house"/>
						</div>
						<div class="fleft card-label">
							<label>STREET</label>
							<input type="text" class="form-control" ng-model="hcard.address.street"/>
						</div>
						<div class="fleft card-label">
							<label>SUBURB</label>
							<input type="text" class="form-control" ng-model="hcard.address.suburb"/>
						</div>
						<div class="fleft card-label">
							<label>STATE</label>
							<input type="text" class="form-control" ng-model="hcard.address.state"/>
						</div>
						<div class="fleft card-label">
							<label>POSTCODE</label>
							<input type="text" class="form-control" ng-model="hcard.address.postcode"/>
						</div>
						<div class="fleft card-label">
							<label>COUNTRY</label>
							<input type="text" class="form-control" ng-model="hcard.address.country"/>
						</div>
					</div>
					<div class="create-hcard">
						<input type="button" name="" class="btn btn-primary" value="Create hCard" ng-click="createHcard()">
					</div>
				</form>
			</div>
		</div>
		<div class="col right-panel" ng-controller="Ctrl2">
			<div class="inner-container">
				<div class="card-preview">
					<div class="preview-header">
						HCARD PREVIEW
					</div>
					<div class="preview-body">
						<div class="head">
							<h1>{{hcard.personal.name}} {{hcard.personal.surname}}</h1>
						</div>
						<div class="details">
							<div>
								<label>EMAIL</label>
								<span>{{hcard.personal.email}}</span>
							</div>
							<div>
								<label>PHONE</label>
								<span>{{hcard.personal.phone}}</span>
							</div>
							<div>
								<label>ADDRESS</label>
								<span>{{hcard.address.house}}</span>
								<span>{{hcard.address.street}}</span>
							</div>
							<div>
								<div class="addressline2">
									<span>{{hcard.address.suburb}}</span>
									<span>{{hcard.address.state}}</span>
								</div>
							</div>
							<div class="clearfix">
								<div class="col">
									<label>POSTCODE</label>
									<span>{{hcard.address.postcode}}</span>
								</div>
								<div class="col">
									<label>COUNTRY</label>
									<span>{{hcard.address.country}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>